@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

:root {
  --mainGray: #ececec;
  --lighterGray: #fdfdfd;
  --darkerGray: #c8c8c8;
}

html {
  background-color: var(--mainGray);
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center;

  font-family: Roboto-Regular;
  font-size: 22px;
}  

.exchange {
  padding: 20px;
}
.exchange :first-child {
  margin-top: 0;
}

.card {
  position: relative;
  width: fit-content;
  width: 310px;
  min-height: 50px;
  background-color: var(--mainGray);
  margin-top: 20px;
  border-radius: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  box-shadow: inset 2px 2px 7px var(--darkerGray),
  2px 2px 7px  var(--darkerGray),
  inset -2px -2px 7px var(--lighterGray);
}

.card-statistic {

}

.tooltip {
  --tooltipHeigth: 40px;
  position: absolute;
  left: 0;
  /* top: calc( 0px - var(--tooltipHeigth) - 10px); properly work is not reachable for safari users :`( | should be putted by js*/ 
  width: fit-content;
  min-height: var(--tooltipHeigth);
  background-color: black;
  text-align: center;
  filter: opacity(0.55);
  line-height: var(--tooltipHeigth);
  vertical-align: middle;
  color: #fff;
  font-size: calc( var(--tooltipHeigth) / 2);
  border-radius: calc( var(--tooltipHeigth) / 4);
  
}
.tooltip p {
  position: relative;
  top: 50%;
}

.currency {
  user-select: none;
}

.price {
}

.changeDD {
}

.negativeChange {
  color: red;
}

.positiveChange {
  color: green;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  cursor: none;
}

.screener {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.closer {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 140px;
  font-size: 70px;
  line-height: 140px;
  vertical-align: middle;
  text-align: center;
  user-select: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}
.closer:hover {
  text-shadow: 0 0 10px white;
}

.statistic-sheet {
  display: flex;
  align-items: center;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  min-width: 700px;
  height: 600px;
  background-color: var(--mainGray);
  overflow-y: auto;
}

.statistic-sheet__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 200px));
  grid-template-rows: 140px;
  grid-auto-rows: 40px;
  gap: 5px;
  justify-items:  center;
  align-items: center;
}

.statistic-label {
  font-size: 33px;
  line-height: 2;
  word-spacing: 3px;
  font-weight: bold;
  margin-top: 23px;
}